<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0FA26E48-DF6F-4D1F-B437-CCDE6384388B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73CBF6D9-AE94-4191-B0B9-8A357D6B33E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23C01D85-65D9-4C0F-A726-E4FAB46EADD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF67C555-CC39-4E65-80FC-21D5EE0A01B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D8D37E4-42E9-4CF2-AB94-412253F6AEB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA14241D-34FE-4B5E-A450-A98B1538C6CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50DF3EA3-CA61-432D-BAF3-E3552FCE4240</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>512F4FE6-696D-45B4-8649-3DF46BA40732</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6765B8FB-AE56-4F89-AA13-507885F1063D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF67C555-CC39-4E65-80FC-21D5EE0A01B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>720A4C71-CC6F-400A-B684-E8820B9C8539</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D8D37E4-42E9-4CF2-AB94-412253F6AEB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73CBF6D9-AE94-4191-B0B9-8A357D6B33E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>720A4C71-CC6F-400A-B684-E8820B9C8539</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AF915896-B083-49E5-9B53-3F582A64D3D8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>23C01D85-65D9-4C0F-A726-E4FAB46EADD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1E7C31F-9063-422E-B1CC-8E75E6C44D70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50DF3EA3-CA61-432D-BAF3-E3552FCE4240</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA14241D-34FE-4B5E-A450-A98B1538C6CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6765B8FB-AE56-4F89-AA13-507885F1063D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EDB04105-4A25-44D1-837B-7211A724AFBA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3751C2A-9A82-4345-B2D1-11D10D1DF2E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>052D2690-8208-4756-A39C-42A6AEC9C6FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF67C555-CC39-4E65-80FC-21D5EE0A01B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F25AD939-593E-4EF7-BD35-48759AF47840</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0A25210-156A-47FE-8969-E2D12E0F6A5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F25AD939-593E-4EF7-BD35-48759AF47840</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3751C2A-9A82-4345-B2D1-11D10D1DF2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>55FA5086-DB60-4ABA-BDB8-251755A18542</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>LacheRo`</string>
	<key>description</key>
	<string>Interact with Asana API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Asana Automation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>assignee={query} workspace=$workspace accessToken=$accessToken /usr/local/bin/node index.js "$input"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6765B8FB-AE56-4F89-AA13-507885F1063D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>FILE=users.json
if [ -f "$FILE" ]; then
    cat "$FILE"
else 
    echo '{"items": [{ "title": "Users file not found", "subtitle": "Sync users list by going to: asana &gt; Sync users list workflow" }]}'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Please wait...</string>
				<key>title</key>
				<string>Choose assignee</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2D8D37E4-42E9-4CF2-AB94-412253F6AEB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\d+</string>
						<key>outputlabel</key>
						<string>then</string>
						<key>uid</key>
						<string>EDB04105-4A25-44D1-837B-7211A724AFBA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BA14241D-34FE-4B5E-A450-A98B1538C6CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>720A4C71-CC6F-400A-B684-E8820B9C8539</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>task</string>
				<key>subtext</key>
				<string>Enter a task in the format » title;description</string>
				<key>text</key>
				<string>Create a task on Asana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0FA26E48-DF6F-4D1F-B437-CCDE6384388B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>052D2690-8208-4756-A39C-42A6AEC9C6FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>-a:?$</string>
						<key>outputlabel</key>
						<string>then</string>
						<key>uid</key>
						<string>AF915896-B083-49E5-9B53-3F582A64D3D8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>73CBF6D9-AE94-4191-B0B9-8A357D6B33E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^https</string>
						<key>outputlabel</key>
						<string>then</string>
						<key>uid</key>
						<string>55FA5086-DB60-4ABA-BDB8-251755A18542</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F25AD939-593E-4EF7-BD35-48759AF47840</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>D3751C2A-9A82-4345-B2D1-11D10D1DF2E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>EF67C555-CC39-4E65-80FC-21D5EE0A01B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>assignee=$me workspace=$workspace accessToken=$accessToken /usr/local/bin/node index.js '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23C01D85-65D9-4C0F-A726-E4FAB46EADD5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Task created successfully!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E0A25210-156A-47FE-8969-E2D12E0F6A5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Workspaces","arg":"workspaces","subtitle":"Get workspaces gid"},{"title":"My ID","arg":"me","subtitle":"Get my ID"},{"title":"Sync users list","arg":"users","subtitle":"Resync all users in workspace"}]</string>
				<key>keyword</key>
				<string>asana</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>API interaction</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B1E7C31F-9063-422E-B1CC-8E75E6C44D70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>512F4FE6-696D-45B4-8649-3DF46BA40732</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/local/bin/node {query}.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Loading...</string>
				<key>title</key>
				<string>Retrieving data</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50DF3EA3-CA61-432D-BAF3-E3552FCE4240</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Setup Instructions:

1. Create a new access token on Asana and set it on the accessToken env variable [1]

2. Set your user id: writing "asana" and click on "My ID", then press enter to copy the gid and paste it in the "me" env variable

3. Set the workspace: write "asana" and click on "Workspaces", select the workspace you want and paste the gid in the "workspace" env variable

4. Sync users list: write "asana" and clikc on "Sync users list", this step will sync all users on the chosen workspace so you will be able to use the "assign user to task" feature

How to use:
In order to create a task use the "task" keywork.
The format of the input should be this: title;description
for e.g. "create a website;check the email from John and create the website according to his instructions"

In order to open the new created task add ":" at the end of you input, for e.g. "create a website:" or "create website;setup wordpress:"

In order to assign a user to a task you can use the "-a" flag at the end of your input, for e.g. "create a website -a"

You can also use here the open url feature by simply add the ":" character at the end, for e.g. "create a website -a:" or "create logo;use blue and grey colors -a:"


References:
[1] https://asana.com/guide/help/api/api</string>
	<key>uidata</key>
	<dict>
		<key>052D2690-8208-4756-A39C-42A6AEC9C6FC</key>
		<dict>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>0FA26E48-DF6F-4D1F-B437-CCDE6384388B</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>23C01D85-65D9-4C0F-A726-E4FAB46EADD5</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>2D8D37E4-42E9-4CF2-AB94-412253F6AEB1</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>50DF3EA3-CA61-432D-BAF3-E3552FCE4240</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>512F4FE6-696D-45B4-8649-3DF46BA40732</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>6765B8FB-AE56-4F89-AA13-507885F1063D</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>720A4C71-CC6F-400A-B684-E8820B9C8539</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>73CBF6D9-AE94-4191-B0B9-8A357D6B33E3</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>B1E7C31F-9063-422E-B1CC-8E75E6C44D70</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>BA14241D-34FE-4B5E-A450-A98B1538C6CF</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>D3751C2A-9A82-4345-B2D1-11D10D1DF2E0</key>
		<dict>
			<key>xpos</key>
			<integer>1025</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>E0A25210-156A-47FE-8969-E2D12E0F6A5F</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>EF67C555-CC39-4E65-80FC-21D5EE0A01B6</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>F25AD939-593E-4EF7-BD35-48759AF47840</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>accessToken</key>
		<string>1/1127707216314462:4b7d5e7cc7a152c82657c44b56020ea2</string>
		<key>me</key>
		<string>1127707216314462</string>
		<key>workspace</key>
		<string>696383595885846</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>accessToken</string>
		<string>me</string>
		<string>workspace</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
